modules = ["nodejs-20:v10-20231103-2b03dda"]
run = "npm run build && npm run preview"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npm run build && npm run preview"]
deploymentTarget = "gce"
